<!-- 2022.01.11 -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <!-- css_original -->
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <title>ひろちゃんポートフォリオ</title>
</head>

<body>
    <!-- ラッピング -->
    <div id="wrapper">
        <!-- header -->
        <header>
            <!-- ヘッダー箱 -->
            <div class="header_inner">
            </div>
            <!-- ヘッダー箱終わり -->
        </header>
        <!-- header終わり -->
        <!-- メインビュー -->
        <!-- メインビュー終わり -->
        <!-- footer -->
        <footer>
            <div class="footer_inner">
            </div>
        </footer>
        <!-- footer終わり -->
    </div>
    <!-- ラッピング終わり -->

    <!-- 各種読み込み -->
    <!-- jquery -->
    <script type="text/javascript" src="js\jquery-3.6.0.min.js"></script>
    <!-- original -->
    <script type="text/javascript" src="js/original.js"></script>
</body>

</html>